<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body>

  <h3 class = "margen">Estudiantes</h3>

    <table class=" margen table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Curso</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Nelson</td>
          <td>nelson@gmail.com</td>
          <td>Science</td>

        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Saori</td>
          <td>srkk@gmail.com</td>
          <td>French</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Angelica</td>
          <td>wonder@gmail.com</td>
          <td>Handwriting</td>

        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Granger</td>
          <td>g@gmail.com</td>
          <td>Epic poem and epic hero</td>

        </tr>
      </tbody>
    </table>

           <%=image_tag("note_1.jpg", class: "img-fluid rounded col-5")%>
           <%=image_tag("note_2.jpg", class: "img-fluid rounded col-5")%>
           <%=image_tag("note_3.jpg", class: "img-fluid rounded col-5")%>
           <%=image_tag("note_4.jpg", class: "img-fluid rounded col-5")%>
           <%=image_tag("note_5.jpg", class: "img-fluid rounded col-5")%>
           <%=image_tag("note_6.jpg", class: "img-fluid rounded col-5")%>

  </body>
</html>
